*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  vertical-align: middle;
}

html{
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; // 16px * 62.5% = 10px
}

// VARIABLES

$border-radius: 2.4rem;
// Primary colors

$color-white: #fff;
$color-coral: #f67e7e;

// Blue colors

$color-light-blue: #79c8c7;
$color-dark-blue: #2c6269;

// Green colors. Numbers indicate that these green colors are hex's last two digits

$color-green-56: #014e56;
$color-green-47: #004047;
$color-green-34: #012f34;
$color-green-96: #002529;



/* livvic-500 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/livvic-v8-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/livvic-v8-latin-500.woff') format('woff'),
    /* Modern Browsers */
}

/* livvic-600 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/livvic-v8-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/livvic-v8-latin-600.woff') format('woff'),
    /* Modern Browsers */
}

/* livvic-700 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/livvic-v8-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/livvic-v8-latin-700.woff') format('woff'),
    /* Modern Browsers */
}

// MIXINS
@mixin baElements($w, $h) {
  content: "";
  display: inline-block;
  width: $w;
  height: $h;
  @content;
}

// UTILITY CLASSES

.ml-auto {
  margin-left: auto !important;
}

// COMPONENTS

body {
  font-family: 'Livvic', sans-serif;
  background-color: $color-green-56;
  color: $color-white;
}

.container {
  max-width: 114rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

.btn {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: $color-white;
  border-radius: $border-radius;
  border: 2px solid $color-white;
  display: inline-block;
  text-decoration: none;
  padding: 1rem 3.3rem;
  outline: none;

  &--dark {
    color: $color-green-34;
    border-color: $color-green-34;
  }
}


// HEADER

.header {
  display: flex;
  align-items: center;

  &-list {
    margin-left: 8rem;

    &__item {
      &:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }
}

.list {
  display: flex;
  list-style: none;

  &__link {
    text-decoration: none;
    color: $color-white;
  }
}

.talent {
  padding-top: 7.3rem;
  padding-bottom: 25rem;

  background-image: url(../images/header-img-1.png), url(../images/header-img-2.png);
  background-size: 20rem 20rem, 35.8rem 10rem;
  background-position: left -10rem center, right 16.5rem bottom 0rem;
  background-repeat: no-repeat;
}

.talent-info {
  margin-top: 12.9rem;
  display: flex;
  align-items: center;
}

.talent-heading {
  font-weight: bold;
  font-size: 10rem;
  line-height: 10rem;
  color: $color-white;
  width: 61rem;

  &__text {
    color: $color-coral;
  }
}

.talent__text {
  margin-left: auto;
  width: 44.5rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: $color-white;
  display: flex;
  flex-direction: column;

  &::before {
    @include baElements(5rem, 0.4rem) {
      background-color: $color-light-blue;
      margin-bottom: 7.9rem;
    }
  }
}
