@media only screen and (max-width: 1320px) {
  .talent {
    background-image: none, url(../images/home-page/header-img-2.png);
  }

  .contact-content {
    background-image: none, url(../../images/contact-page/contact-bg2.png);
  }
}

@media only screen and(max-width: 1240px) {
  .features {
    background-position: right -10rem top;
  }
}

@media only screen and(max-width: 1140px) {
  .container {
    padding: 0 4rem;
  }

  .feedback-author {
    flex-basis: 30rem;
  }

  .cards {
    justify-content: space-evenly;
  }
}

@media only screen and(max-width: 1010px) {
  html {
    font-size: 60.5%;
  }

  .successes {
    background-position: left top, right bottom -11rem;
  }
}

@media only screen and(max-width: 992px) {
  html {
    font-size: 58.5%;
  }
}

@media only screen and(max-width: 975px) {
  .section-heading {
    font-size: 4.2rem;
    line-height: 4.2rem;
  }

  .talent-heading {
    font-size: 9rem;
    line-height: 9rem;
  }

  .features__heading {
    font-size: 4.2rem;
    line-height: 4.2rem;
    max-width: 44rem;
  }

  .about__text {
    max-width: 62rem;
  }
}

@media only screen and(max-width: 935px) {
  .feedbacks {
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .feedback-author {
    max-width: 50rem;
    margin-bottom: 2rem;

    &__job {
      margin-bottom: 2rem;
    }
  }

  .clients-logo__img {
    width: 15rem;
    object-fit: contain;
    height: 4rem;
  }
}

@media only screen and(max-width: 825px) {
  .about__text {
    max-width: 52rem;
  }

  .clients-logo__img {
    width: 13.5rem;
    height: 3.5rem;
  }

  .contact-left {
    max-width: 35rem;
  }

  .form {
    max-width: 40rem;
    background-image: none, inherit;
  }

}

@media only screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .talent {
    background-position: bottom;
  }

  .talent-info {
    flex-direction: column;
    text-align: center;
    margin-top: 11rem;
  }

  .talent-heading {
    font-size: 6.4rem;
    line-height: 5.6rem;
    max-width: 39rem;
    margin: 0;
    margin-bottom: 2.4rem;
  }

  .talent__text {
    margin: 0 auto;
    width: 55rem;

    &::before {
      display: none;
    }
  }

  // ****************
  .features {
    padding: 10rem 5.8rem;

    &__heading {
      font-size: 3.2rem;
      line-height: 3.2rem;
      margin-bottom: 6.4rem;
    }
  }

  .features-info {
    flex-direction: column;
    padding-top: 3.2rem;
  }

  .feature-types {
    margin-left: 9rem;
  }

  // ************************
  .section-heading {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }

  .successes {
    padding: 10rem 5.8rem;
  }

  .success-heading {
    margin-bottom: 4.8rem;
    max-width: 47rem;
  }

  .feedback-author {
    max-width: 57rem;
    margin-bottom: 0;

    &__text {
      width: 100%;
      font-size: 1.5rem;
      line-height: 2.5rem;
    }

    &__name {
      margin-top: 1.6rem;
      margin-bottom: 2px;
    }

    &__job {
      margin-bottom: 1.6rem;
    }
  }

  .about-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 11rem;
  }

  .about-heading {
    font-size: 6.4rem;
    line-height: 5.6rem;
    margin-bottom: 2.4rem;
  }

  .about__text {
    max-width: 45rem;
    margin: 0 auto;
    font-size: 1.5rem;

    &::before {
      display: none;
    }
  }

  .card {
    flex-basis: 28rem;
  }

  .comment {
    padding: 3.5rem 2.4rem;
  }

  .clients-logo__img {
    width: 11rem;
    height: 3rem;
  }

  // ******************************
  .contact-inner {
    padding-bottom: 12rem;
    margin-top: 12rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .contact-hero {
    padding-top: 7.3rem;
  }
  
  .contact-content {
    background-image: url(../../images/directors-bg1.png), url(../../images/contact-page/contact-bg2.png);
  }
  
  .contact-inner {
    padding-bottom: 11rem;
    margin-top: 11rem;
    justify-content: space-between;
  }
  
  .contact-left {
    text-align: center;
    max-width: 51.5rem;
  
    &__heading {
      line-height: 5.6rem;
    }
  
    &__subtitle {
      margin-top: 2.4rem;
    }
  }
  
  .question {
    display: flex;
    align-items: center;
    margin-top: 2.4rem;
  
    &__text {
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.8rem;
      margin-left: 2.3rem;
    }
  }

  // ***********************************
  // ************************************
  .form { 
  max-width: 51rem;
  margin-top: 6.4rem;
  }
  


}

// @media (max-width: 575.98px) {

// }