.footer {
  padding: 4.8rem 0;
  background-color: $color-green-29;

  &__text {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.5rem;
    opacity: .6;
  }

  &__tel {
    color: $color-white;
    text-decoration: none;
    transition: all .3s ease-in-out;
    &:hover{
      opacity: .6;
    }
  }
}

.footer-inner {
  display: flex;
  align-items: flex-start;
}

.footer-list {
  margin-top: 2.5rem;

  &__item {
    &:not(:last-child) {
      margin-right: 4rem;
    }
  }
}

.footer-address {
  margin-left: 12.5rem;
}

.footer-right {
  max-width: 25.5rem;
}

.social {
  text-align: right;
  margin-bottom: 5.1rem;

  &__link {
    color: $color-white;
    display: inline-block;
    transition: all .3s ease-in-out;
    &:hover{
      color: $color-coral;
    }

    &:not(:last-child) {
      margin-right: 1.6rem;
    }
  }
}