.header {
  display: flex;
  align-items: center;

  &-list {
    margin-left: 8rem;

    &__item {
      &:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }

  &-nav {
    @include respond(phone) {
      display: none;
    }

    &__btn {
      @include respond(phone) {
        display: none;
      }
    }
  }
}

.burger {
  &__input {
    display: none;
  }

  &__menu {
    display: inline-block;
    width: 2rem;
    height: 3px;
    background-color: $color-white;
    position: relative;

    &::before {
      top: -7px;
    }

    &::after {
      top: 7px;
    }

    &::before,
    &::after {
      @include baElements(100%, 100%);
      position: absolute;
      background-color: $color-white;
    }
  }
}