/* livvic-500 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
    url('../../fonts/livvic-v8-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../../fonts/livvic-v8-latin-500.woff') format('woff'),
    /* Modern Browsers */
}

/* livvic-500italic - latin */
@font-face {
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 500;
  src: local(''),
    url('../../fonts/livvic-v8-latin-500italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../../fonts/livvic-v8-latin-500italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* livvic-600 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
    url('../../fonts/livvic-v8-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../../fonts/livvic-v8-latin-600.woff') format('woff'),
    /* Modern Browsers */
}

/* livvic-700 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
    url('../../fonts/livvic-v8-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../../fonts/livvic-v8-latin-700.woff') format('woff'),
    /* Modern Browsers */
}

html {
  font-size: 62.5%; // 16px * 62.5% = 10px

  @media only screen and(max-width: 1010px) {
    font-size: 60.5%;
  }

  @media only screen and(max-width: 992px) {
    font-size: 58.5%;
  }

  @media only screen and (max-width: 768px) {
    font-size: 62.5%;
  }
}

.talent-heading {
  font-weight: bold;
  font-size: 10rem;
  line-height: 10rem;
  color: $color-white;
  max-width: 61rem;

  @media only screen and(max-width: 975px) {
    font-size: 9rem;
    line-height: 9rem;
    margin: 0 auto;
  }

  @media only screen and (max-width: 768px) {
    font-size: 6.4rem;
    line-height: 5.6rem;
    max-width: 39rem;
    margin-bottom: 2.4rem;
  }

  @include respond(phone) {
    font-size: 4rem;
    line-height: 4rem;
    max-width: 24rem;
    margin-bottom: 1.8rem;
  }

  &__text {
    color: $color-coral;
  }
}

.section-heading {
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-align: center;

  @media only screen and(max-width: 975px) {
    font-size: 4.2rem;
    line-height: 4.2rem;
  }

  @media only screen and (max-width: 768px) {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }


}