// **************************
// ****ABOUT SECTION*****
// **************************
.about {
  padding: 7.3rem 0 12rem 0;
  background-image: url(../../images/about-page/about-bg-img.png);
  background-repeat: no-repeat;
  background-size: 20rem 20rem;
  background-position: right -10rem bottom;

  &__text {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.8rem;
    max-width: 73rem;

    display: flex;
    flex-direction: column;

    &::before {
      @include baElements(5rem, 0.4rem);
      background-color: $color-coral;
      margin-bottom: 4rem;
    }
  }
}

.about-info {
  display: flex;
  justify-content: space-between;
  margin-top: 12rem;
}

.about-heading {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 10rem;
}

// **************************
// ****DIRECTORS SECTION*****
// **************************
.directors {
  padding: 14rem 0;
  background-color: $color-green-47;
  background-image: url(../../images/directors-bg1.png), url(../../images/home-page/success-bg-img1.png);
  background-size: 20rem 20rem, 14.7rem 10rem;
  background-repeat: no-repeat;
  background-position: left -10rem top, right bottom;
}

.directors-heading {
  margin-bottom: 6.4rem;
}

// **************************
// *****CLIENTS SECTION******
// **************************
.clients {
  padding: 14rem 0;
  background-color: $color-green-34;
  background-image: url(../../images/about-page/clients-bg-img.png);
  background-repeat: no-repeat;
  background-size: 20rem 20rem;
  background-position: left top;
}

.clients-logo {
  margin-top: 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// ********MEDIA QUERIES********
@media only screen and(max-width: 975px) {
  .about__text {
    max-width: 62rem;
  }
}

@media only screen and(max-width: 935px) {
  .clients-logo__img {
    width: 15rem;
    object-fit: contain;
    height: 4rem;
  }
}

@media only screen and(max-width: 825px) {
  .about__text {
    max-width: 52rem;
  }

  .clients-logo__img {
    width: 13.5rem;
    height: 3.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .about-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 11rem;
  }

  .about-heading {
    font-size: 6.4rem;
    line-height: 5.6rem;
    margin-bottom: 2.4rem;
  }

  .about__text {
    max-width: 45rem;
    margin: 0 auto;
    font-size: 1.5rem;

    &::before {
      display: none;
    }
  }
}