// *****************************
// ********TALENT SECTION*******
// *****************************

.talent {
  padding-top: 7.3rem;
  padding-bottom: 25rem;

  background-image: url(../images/header-img-1.png), url(../images/header-img-2.png);
  background-size: 20rem 20rem, 35.8rem 10rem;
  background-position: left -10rem center, right 16.5rem bottom 0rem;
  background-repeat: no-repeat;
}

.talent-info {
  margin-top: 12.9rem;
  display: flex;
  align-items: center;
}

.talent__text {
  margin-left: auto;
  width: 44.5rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: $color-white;
  display: flex;
  flex-direction: column;

  &::before {
    @include baElements(5rem, 0.4rem) {
      background-color: $color-light-blue;
      margin-bottom: 7.9rem;
    }
  }
}


// *******************************
// ********FEATURES SECTION*******
// *******************************

.features {
  background-color: $color-green-34;
  padding: 14rem 16.5rem;
  background-image: url(/images/feature-bg-img.png);
  background-repeat: no-repeat;
  background-position: right -10rem bottom;
}

.features-info {
  display: flex;
  justify-content: space-between;
  padding-top: 5.8rem;
  position: relative;

  &::before {
    @include baElements(5rem, 0.4rem);
    background-color: $color-coral;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.features__heading {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 4.8rem;
  max-width: 44.5rem;
}

.feature-types {
  display: flex;
  flex-direction: column;

}

.feature-type {
  max-width: 44.5rem;

  &:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  &::before {
    @include baElements(7.2rem, 7.2rem);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-left: -9.5rem;
  }

  &:nth-child(1)::before {
    background-image: url(/images/feature-img-1.svg);
  }

  &:nth-child(2)::before {
    background-image: url(/images/feature-img-2.svg);
  }

  &:nth-child(3)::before {
    background-image: url(/images/feature-img-3.svg);
  }

  &__heading {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: $color-coral;
  }

  &__text {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: $color-white;
    opacity: .8;
    margin-top: 1.6rem;
  }
}


// ********************************
// ********SUCCESSES SECTION*******
// ********************************
.section-heading {
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
}

.successes {
  padding: 14rem 16.5rem;
  background-color: $color-green-47;
  background-image: url(../../images/success-bg-img1.png), url(../../images/success-bg-img2.png);
  background-repeat: no-repeat;
  background-position: left top, right bottom -10rem;
}

.success-heading {
  max-width: 93.2rem;
  margin: 0 auto;
  margin-bottom: 5.6rem;

  &__text {
    color: $color-light-blue;
  }
}

.feedbacks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback-author {
  text-align: center;
  flex-basis: 35rem;
  display: flex;
  flex-direction: column;

  &::before {
    @include baElements(6.7rem, 5.6rem);
    background-image: url(../../images/quote-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
  }


  &__text {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-top: -2rem;
  }

  &__name {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: $color-light-blue;
    margin-top: 2.4rem;
    margin-bottom: 2px;
  }

  &__job {
    font-style: italic;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: 3.2rem;
  }

  &__img {
    width: 6.2rem;
    height: 6.2rem;
    object-fit: contain;
    margin: 0 auto;
  }
}

// ********************************
// ********CONTACT-US SECTION******
// ********************************
.contact-us {
  padding: 76px 0;
  color: $color-green-34;
  background-color: $color-coral;
  background-image: url(../../images/contact-us-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom -9rem;

  &__inner {
    display: flex;
    justify-content: space-around;
  }

  &__heading {
    text-align-last: left;
  }
}