// *****************************
// ********TALENT SECTION*******
// *****************************

.talent {
  padding-top: 7.3rem;
  padding-bottom: 25rem;

  background-image: url(../images/home-page/header-img-1.png), url(../images/home-page/header-img-2.png);
  background-size: 20rem 20rem, 35.8rem 10rem;
  background-position: left -10rem center, right 16.5rem bottom 0rem;
  background-repeat: no-repeat;

  @media only screen and (max-width: 1320px) {
    background-image: none, url(../images/home-page/header-img-2.png);
  }

  @media only screen and (max-width: 768px) {
    background-position: bottom;
  }

  @include respond(phone) {
    padding-bottom: 19rem;
  }

}

.talent-info {
  margin-top: 12.9rem;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    margin-top: 11rem;
  }

  @include respond(phone) {
    margin-top: 8rem;
  }
}

.talent__text {
  margin-left: auto;
  max-width: 44.5rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: $color-white;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 768px) {
    margin: 0 auto;
    max-width: 55rem;
    font-size: 1.5rem;
  }

  &::before {
    @include baElements(5rem, 0.4rem) {
      background-color: $color-light-blue;
      margin-bottom: 7.9rem;
    }

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}


// *******************************
// ********FEATURES SECTION*******
// *******************************

.features {
  background-color: $color-green-34;
  padding: 14rem 0;
  background-image: url(../../images/home-page/feature-bg-img.png);
  background-repeat: no-repeat;
  background-position: right -10rem bottom;

  @media only screen and(max-width: 1240px) {
    background-position: right -10rem top;
  }

  @media only screen and (max-width: 768px) {
    padding: 10rem 5.8rem;
  }

  @include respond(phone) {
    padding: 6.4rem 0;

  }
}

.features-info {
  display: flex;
  justify-content: space-between;
  padding-top: 5.8rem;
  position: relative;

  &::before {
    @include baElements(5rem, 0.4rem);
    background-color: $color-coral;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    padding-top: 3.2rem;
  }
}

.features__heading {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 4.8rem;
  max-width: 44.5rem;

  @media only screen and(max-width: 975px) {
    font-size: 4.2rem;
    line-height: 4.2rem;
    max-width: 44rem;
  }

  @media only screen and (max-width: 768px) {
    font-size: 3.2rem;
    line-height: 3.2rem;
    margin-bottom: 6.4rem;
  }

  @include respond(phone) {
    max-width: 24rem;
    margin-bottom: 5.6rem;
  }
}

.feature-types {
  display: flex;
  flex-direction: column;
}

.feature-type {
  display: flex;

  &__info {
    max-width: 44.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 3.2rem;

    @include respond(phone) {
      margin-bottom: 4.8rem;
    }
  }

  &__img {
    display: inline-block;
    margin-right: 2.3rem;

    @include respond(phone) {
      margin-right: 0;
      margin-bottom: 1.6rem;
    }
  }

  &__heading {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: $color-coral;
  }

  &__text {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: $color-white;
    opacity: .8;
    margin-top: 1.6rem;

    @include respond(phone) {
      margin-top: 8px;
    }
  }

  @include respond(phone) {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

// ********************************
// ********SUCCESSES SECTION*******
// ********************************
.successes {
  padding: 14rem 0;
  background-color: $color-green-47;
  background-image: url(../../images/home-page/success-bg-img1.png), url(../../images/home-page/success-bg-img2.png);
  background-repeat: no-repeat;
  background-position: left top, right bottom -10rem;

  @media only screen and(max-width: 1010px) {
    background-position: left top, right bottom -11rem;
  }

  @media only screen and (max-width: 768px) {
    padding: 10rem 5.8rem;
  }
}

.success-heading {
  max-width: 93.2rem;
  margin: 0 auto;
  margin-bottom: 5.6rem;

  @media only screen and (max-width: 768px) {
    margin-bottom: 4.8rem;
    max-width: 47rem;
  }

  @include respond (phone) {}

  &__text {
    color: $color-light-blue;
  }
}

.feedbacks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media only screen and(max-width: 935px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.feedback-author {
  text-align: center;
  flex-basis: 35rem;
  display: flex;
  flex-direction: column;

  @media only screen and(max-width: 1140px) {
    flex-basis: 30rem;
  }

  @media only screen and(max-width: 935px) {
    max-width: 50rem;
    margin-bottom: 2rem;
  }

  @media only screen and (max-width: 768px) {
    max-width: 57rem;
    margin-bottom: 0;
  }

  &::before {
    @include baElements(6.7rem, 5.6rem);
    background-image: url(../../images/home-page/quote-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
  }

  &__text {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-top: -2rem;

    @media only screen and (max-width: 768px) {
      width: 100%;
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: $color-light-blue;
    margin-top: 2.4rem;
    margin-bottom: 2px;

    @media only screen and (max-width: 768px) {
      margin-top: 1.6rem;
      margin-bottom: 2px;
    }
  }

  &__job {
    font-style: italic;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: 3.2rem;

    @media only screen and(max-width: 935px) {
      margin-bottom: 2rem;
    }

    @media only screen and (max-width: 768px) {
      margin-bottom: 1.6rem;
    }
  }

  &__img {
    width: 6.2rem;
    height: 6.2rem;
    object-fit: contain;
    margin: 0 auto;
  }
}